#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
  margin-bottom: 20px;
}

img {
  max-width: 300px;
}

.logo img {
  width: 80px;
}

header {
  width: 100cw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}